@CHARSET "UTF-8";
body {
  
  padding-top: 0px;
  background-color: #FBF5EF;
  background-image:url("ironman2.gif");
  background-size:100%
}
 
.starter-template {
  padding: 40px 15px;
  text-align: center;
  
}